@import "_variables.scss";

html {
  box-sizing: border-box;
  font-size: $root-size;
  font-family: $font-styleguide;
  scroll-behavior: smooth;
  overflow-x: hidden;
 
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  
  display:grid;
  grid-template-columns: 20% 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "heading heading heading"
    "menu content content"
    "menu content content"
    "footer footer footer";
  justify-items: center;
  align-items: center;
  margin: 0;
}

hr {
    color: $color-style;
}

.main-header{
  font-family: $font-logo;
  font-size: $h1;
  text-align: center;
  grid-area: heading;
  background-color: $color-style;
  color: $darkgreen;
  width: 100%;
  height: 30vh;
  margin-bottom: 5rem;
  border-bottom: 15px solid $darkgreen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  grid-area: content;
  justify-self: start;
  padding-left: 15%;
  padding-right: 18%;
  margin-bottom: 5rem;
}

.chapter {
  width: 90%;
}

.code-snippet {
  background-color: whitesmoke;
  padding: 2%;
  border-color: black;
  border-width: 3px;
  border-left-style: solid;
  border-right-style: solid;
  margin-bottom: 5rem;
}

.mobile-size {
  width: 375px;
  margin-bottom: 20px;
}

.footer{
  grid-area: footer;
  width: 100%;
  text-align:center;
  font-weight: bold;
  height: 20vh;
  padding-top: 5rem;
  margin-top: 2rem;
  background-color: $color-style;
}


@media (max-width: 1250px){

  .content {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .mobile-size {
    text-align: center;
    flex-basis: 50%;
  }
}


@media (max-width: 950px){

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
 

  .content {
    margin-left: 10%;
  }

  .menu {
    &--sticky {
      position: static !important;
   }
  }

  .code-snippet, pre {
    width: 95%;
  }


}