@import "_variables.scss";

html {
  box-sizing: border-box;
  font-size: $root-size;
  font-family: $font-styleguide;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "heading heading heading"
    "menu content content"
    "menu content content"
    "footer footer footer";
  justify-items: center;
  align-items: center;
}

a{
  text-decoration: none;
  color:black;
}

hr {
    color: $darkgreen;
    margin: 5% 0;
}

.main-header{
  grid-area: heading;
}

.menu{
  grid-area: menu;
  align-self:start;
  position: sticky;
  top:0;
  
  &__list{
    list-style:none;
  }

  &__item{
    font-size: 1.2rem;
  }

  &__heading{
      font-size: 1.4rem;
      font-weight: bold;
    }
}

.content{
  grid-area: content;
  justify-self: start;
}

.chapter {
  width: 90%;
}


.footer{
  grid-area: footer;
}