.chapter__buttons{
  display: flex;
  justify-content: space-around;
}

.button {
  width: 80%;
  margin-left: 10%;
  background: $darkgreen;
  border: none;
  border-radius: 10px;
  font-family: $font-mmp;
  font-weight: bold;
  font-size: $button;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: white;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
  }

  &--small {
    width: 40%;
    margin: 0 5%;
    font-size: $button-small;
  }
}
