.chapter__navigation {
  border-bottom: 5px solid $lightgreen;
}
.navigation {
  font-family: $font-mmp;
  font-size: $h3;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0px;
  padding: 1.1rem;
  padding-bottom: 0;
}

.navigation__items {
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 1.2px;

  &--active {
    color: white;
    background: $lightgreen;

    &:hover {
      background: $lightgreen;
    }
  }  
  
  &--non-active{
     &:hover {
      color: white;
      background: $lightgreen-hover;
    }
  }
 
}