@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Comfortaa&display=swap');

$font-styleguide: 'Open Sans', sans-serif;
$font-mmp: 'Comfortaa', cursive;
$font-logo: 'Architects Daughter', cursive;

$root-size: 16px;

//Colors
$darkgreen: #003d00;
$lightgreen: #629749;
$lightgreen-hover:#86bb6d; 
$error-text: #b71c1c;
$white: white;
$black: black;

//Font Size
$h1-logo: 2.488rem;
$h1: 2.074rem;
$h2: 1.728rem;
$h3: 1.44rem;
$paragraph: 1.2rem;
$button: 1.2rem;
$button-small: 0.8rem;