@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Comfortaa&display=swap');

$font-styleguide: 'Open Sans', sans-serif;
$font-mmp: 'Comfortaa', cursive;
$font-logo: 'Architects Daughter', cursive;

$root-size: 16px;

//Colors
$darkgreen: #003d00;
$lightgreen: #629749;
$error-text: #b71c1c;
$white: white;
$black: black;