<%= require('html-loader!../partials/_header.html') %>

<section class="content">

   <div class="chapter" id="lists">
      <div class="chapter__friend">
         <img class="chapter__friend__picture" src=<%= require('./../images/feet.svg') %> alt="Logo">
      </div>
   </div>

   <!--Fake Link: grün unterstrichen-->
    <!--Button: beim Hoovern Text wird größer, medium und big Button-->
    <!--Form Elements: Input Felder, Radio Buttons-->
     <!--Navigation: beim Hoovern grün hinterlegt-->
     <!--Feedback Pop-up-->
  
</section>

<%= require('html-loader!../partials/_footer.html') %>