<%= require('html-loader!../partials/_header.html') %>
  
  <section class="content">
    
    <div class="chapter" id="introduction">
      <p class="chapter__text">Dies ist der Styleguide zu unserem MMP2a - Footprint.</p>
      <h2 class="chapter__main-heading">Footprint - Unsere Idee</h2>
      <p class="chapter__text">Footprint ist dazu da, seinen CO2 Verbrauch zu messen, sowie seine gespeicherten Daten statistisch darzustellen. 
        Man gibt seinen Startpunkt, sowie sein Ziel des Weges ein und wählt das gewünschte Verkehrmittel aus. 
        Der CO2 Verbrauch wird berechnet und in die Statistik aufgenommen. Somit hat man einen guten Überblick über seine Emissionen.
        Außerdem kann man sich mit seinen Freunden vergleichen.
      </p>
      <h2 class="chapter__main-heading">Zielgruppe</h2>
      <p class="chapter__text">Der Styleguide richtet sich an Entwickler, Designer und allen die an der App mit arbeiten 
        und am Styling interessiert sind.</p>
    </div>

    <div class="chapter" id="colors">

      <h2 class="chapter__main-heading">Primary Colors</h2>
      <h2 class="chapter__main-heading">Background Colors</h2>
      <h2 class="chapter__main-heading">Text</h2>
    
    </div>

    <div class="chapter" id="typography">
      <h2 class="chapter__main-heading">Schriftart/Typografie</h2>
      <p class="chapter__text">Wir verwenden für unser Logo die Schriftart <b>Architects Daughter</b>. Es ist ein Handwriting-Font und wirkt
        etwas lockerer als unsere Hauptschriftart <b>Comfortaa</b>. Comfortaa ist serifenlos und ist sehr leserlich auch auf kleinen Bildschirmen.
      </p>
      <h2 class="chapter__main-heading">Schriftgrößen</h2>

        <div class="chapter__font">

          <div class="chapter__font__box">
              <div class="chapter_font__box--big"><h2 class="mmp__h1">Heading 1</h2></div>
              <div class ="chapter__font__box--small"><p class="chapter__font__para">2.074rem (33.18px) </p></div>
          </div>

          <div class="chapter__font__box">
            <div class="chapter_font__box--big"><h2 class="mmp__h1--logo">Heading 1</h2></div>
            <div class ="chapter__font__box--small"><p class="chapter__font__para">2.488rem (39.81px) </p></div>
        </div>

          <div class="chapter__font__box">
            <div class="chapter_font__box--big"><h2 class="mmp__h2">Heading 2</h2></div>
            <div class ="chapter__font__box--small"><p class="chapter__font__para">1.728rem (27.65x)</p></div>
          </div>

          <div class="chapter__font__box">
            <div class="chapter_font__box--big"><h2 class="mmp__h3">Heading 3</h2></div>
            <div class ="chapter__font__box--small"><p class="chapter__font__para">1.44rem (23.04px)</p></div>
          </div>

          <div class="chapter__font__box">
            <div class="chapter_font__box--big"><p class="mmp__p">Ich bin ein Beispielparagraph mit Fließtext.</p></div>
            <div class ="chapter__font__box--small"><p class="chapter__font__para">1.2rem (10.2px)</p></div>
          </div>

        </div>

    </div>
  

    <div class="chapter" id="logo">
      <!--CSS Formatierung + Logo Bild-->
    </div>

  </section>

<%= require('html-loader!../partials/_footer.html') %>