<%= require('html-loader!../partials/_header.html') %>

<section class="content">

    <!--3 Screenshots-->
    <div class="chapter" id="main">
        
        <p class="chapter__text">Die Footprint-App ist hauptsächlich an das Mobile-Format angepasst, da die Zielgruppe 
            Smartphone-User sind, die on-the-go, ähnlich wie etwaige Fitness-Tracker, den CO<sub>2</sub>-Verbrauch im Überblick behalten möchten.
            Ausrichtung des Textes sowie der Elemente ist immer zentriert.

        </p>

        <h2 class="chapter__main-heading">Main-Page-Layout</h2>
        <p class="chapter__text">Unsere Main-Page ist unsere Routenberechnungsseite. Hier wird die Route berechnet, als auch der jeweilige CO<sub>2</sub>-Ausstoß ermittelt.
            Es wird der Startpunkt A und das Ziel B eingegeben und das entsprechende Verkehrsmittel angegeben. Die Seite wird in drei Abschnitte eingeteilt.
        </p>

        <div class="chapter__page">
            <img class="chapter__page__img" src=<%= require('./../images/Page_Layout_User1.png') %> alt="Main-Page-Layout">
        </div>

    </div>

    <div class="chapter" id="friends">
        <h2 class="chapter__main-heading">Freunde-Page-Layout</h2>
        <p class="chapter__text">Um das Bewusstsein für den eigenen CO<sub>2</sub>-Verbrauch zu stärken und als Ansporn
             auch den Verbrauch einzuschränken, kann man sich mit seinen Freunden vergleichen.
            Auf der Freunde-Seite wird das aktuelle Wochenranking angezeigt, sowie die Übersicht der Freunde.
            Dieses Layout ist in drei Abschnitte gegliedert.
        </p>

        <div class="chapter__page">
            <img class="chapter__page__img" src=<%= require('./../images/Page_Layout_Statistics.png') %> alt="Freunde-Page-Layout">
        </div>

    </div>

    <div class="chapter" id="profile">
        <h2 class="chapter__main-heading">Profil-Page-Layout</h2>
        <p class="chapter__text"> Auf der Profil-Seite können User ihre Daten bearbeiten, das Passwort ändern, sowie den Account löschen.
            Hier ist das Layout in zwei Bereiche geteilt.
        </p>

        <div class="chapter__page">
            <img class="chapter__page__img" src=<%= require('./../images/Page_Layout_Profil.png') %> alt="Profil-Page-Layout">
        </div>

    </div>
  
</section>

<%= require('html-loader!../partials/_footer.html') %>