<%= require('html-loader!../partials/_header.html') %>

<section class="content">

    <!--Lintin: Duble Quotes, semicolons, 2 spaces, use rem for fonts, sass, BEM-Syntax + Bsp -->
    <div class="chapter" id="rules">
        <h2 class="chapter__main-heading">Code Style Rules</h2>
        <ul class="chapter__list">
            <li class="chapter__list__item">Double Quotes</li>
            <li class="chapter__list__item">Einrückung: 2 spaces</li>
            <li class="chapter__list__item">Verwedung von rem für Fonts mit Basis 16px</li>
            <li class="chapter__list__item">SASS als Preprocessor</li>
            <li class="chapter__list__item">BEM-Synthax</li>
        </ul>

    </div>
    <!--BEM: Code Snippet Bsp-->
    <div class="chapter" id="conventions">
        <h2 class="chapter__main-heading">Naming Conventions</h2>
        <p class="chapter__text">Wir verwenden den BEM-Synthax. Das Block-Component ist in diesem Beispiel "navigation". 
            Das Element, welches von diesem Block abhängig ist, ist die Liste also "navigation__list", die einzelnen Menü-Unterpunkte
            bekommen die Klasse "navigation__item". Der
            Link besitzt noch den Modifier "navigation__item--active". Diese Methode erleichtert
            eine konsistente Struktur im CSS und SCSS zu schreiben. Ebenso erleichtert es die Reusability von CSS-Code.
        </p>
        
        <pre rel="HTML"class="code-snippet">
            <code>
            &lt;div class=&quot;navigation&quot;&gt;
                &lt;ul class=&quot;navigation__list&quot;&gt;
                   &lt;li class=&quot;navigation__item navigation__item--active&quot;&gt;Route&lt;/li&gt;
                   &lt;li class=&quot;navigation__item&quot;&gt;Statistik&lt;/li&gt;
                   &lt;li class=&quot;navigation__item&quot;&gt;Freunde&lt;/li&gt;
                   &lt;li class=&quot;navigation__item&quot;&gt;Profil&lt;/li&gt;
                &lt;/ul&gt;
             &lt;/div&gt;
            </code>
        </pre>
       
    </div>

  
</section>

<%= require('html-loader!../partials/_footer.html') %>