<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Styleguide</title>
</head>
<body>
  
  <header class="main-header">
      <h1>Styleguide</h1>
  </header>

  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__heading"><a class="menu__item__link" href="index.html">Brand Guide</a></li>
      <li class="menu__item"><a class="menu__item__link" href="index.html#introduction">Introduction/Theory</a></li>
      <li class="menu__item"><a class="menu__item__link" href="index.html#colors">Colors</a></li>
      <li class="menu__item"><a class="menu__item__link" href="index.html#typography">Typography</a></li>
      <li class="menu__item"><a class="menu__item__link" href="index.html#logo">Logo</a></li>
      
      <li class="menu__heading"><a class="menu__item__link" href="methodology.html">CSS Methodology</a></li>
      <li class="menu__item"><a class="menu__item__link" href="methodology.html#rules">Code Style Rules</a></li>
      <li class="menu__item"><a class="menu__item__link" href="methodology.html#conventions">Naming Conventions</a></li>
      
      <li class="menu__heading"><a class="menu__item__link" href="components.html">Component Library</a></li>
      <li class="menu__item"><a class="menu__item__link" href="components.html#headings">Headings</a></li>
      <li class="menu__item"><a class="menu__item__link" href="components.html#lists">Lists</a></li>
      <li class="menu__item"><a class="menu__item__link" href="components.html#links">Links</a></li>
      <li class="menu__item"><a class="menu__item__link" href="components.html#buttons">Buttons</a></li>
      <li class="menu__item"><a class="menu__item__link" href="components.html#form">Form elements</a></li>
      <li class="menu__item"><a class="menu__item__link" href="components.html#navigation">Navigation</a></li>

      <li class="menu__heading"><a class="menu__item__link" href="layout.html">Page Layout</a></li>
      <li class="menu__item"><a class="menu__item__link" href="layout.html">Introduction/Theory</a></li>
      <li class="menu__item"><a class="menu__item__link" href="layout.html">Colors</a></li>
      <li class="menu__item"><a class="menu__item__link" href="layout.html">Typography</a></li>
    </ul>
  </nav>