<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Styleguide</title>
</head>
<body>
  
  <header class="main-header">
      <h1>Styleguide</h1>
  </header>

  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__heading">Brand Guide</li>
      <li class="menu__item"><a class="menu__item__link" href="introduction.html">Introduction/Theory</a></li>
      <li class="menu__item"><a class="menu__item__link" href="#index">Colors</a></li>
      <li class="menu__item"><a class="menu__item__link" href="#index">Typography</a></li>
      <li class="menu__item"><a class="menu__item__link" href="#index">Logo</a></li>
      <li class="menu__heading">CSS Methodology</li>
      <li class="menu__item"><a class="menu__item__link" href="#index">Code Style Rules</a></li>
      <li class="menu__item"><a class="menu__item__link" href="#index">Naming Conventions</a></li>
      <li class="menu__heading">Component Library</li>
      <li class="menu__item"><a class="menu__item__link" href="#index">Introduction/Theory</a></li>
      <li class="menu__item"><a class="menu__item__link" href="#index">Colors</a></li>
      <li class="menu__item"><a class="menu__item__link" href="#index">Typography</a></li>
      <li class="menu__item"><a class="menu__item__link" href="#index">Logo</a></li>
    </ul>
  </nav>